# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
legendary_mean = pokemon[pokemon['Legendary']==True]['Total'].mean()
legendary_std = pokemon[pokemon['Legendary']==True]['Total'].std()

no_legend_mean = pokemon[pokemon['Legendary']==False]['Total'].mean()
no_legend_std = pokemon[pokemon['Legendary']==False]['Total'].std()

print('legendary',legendary_mean, legendary_std,'\n','no legendary', no_legend_mean,no_legend_std)

legendary 637.3846153846154 60.93738905315344
 no legendary 417.21360544217686 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:
#H0:
legend_sample = pokemon[pokemon['Legendary']==True]['Total']
no_legend_sample = pokemon[pokemon['Legendary']==False]['Total']
stats.ttest_ind(legend_sample ,no_legend_sample,equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:
"""The pvalue < than our significance lvl this mean that we should reject the null hypothesis"""

'The pvalue < than our significance lvl this mean that we should reject the null hypothesis'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:
pokemon.groupby(by='Type 1')['Total'].describe()

          count        mean         std    min     25%    50%     75%    max
Type 1
Bug        69.0  378.927536  117.875223  194.0  269.00  395.0  475.00  600.0
Dark       31.0  445.741935  109.126217  220.0  359.00  465.0  510.00  680.0
Dragon     32.0  550.531250  146.267538  300.0  420.00  600.0  680.00  780.0
Electric   44.0  443.409091  105.721952  205.0  362.25  477.5  520.00  610.0
Fairy      17.0  413.176471  123.781680  218.0  323.00  405.0  483.00  680.0
Fighting   27.0  416.444444  102.464378  210.0  326.50  455.0  497.50  625.0
Fire       52.0  458.076923  109.760496  250.0  368.00  482.0  534.00  680.0
Flying      4.0  485.000000  161.400124  245.0  462.50  557.5  580.00  580.0
Ghost      32.0  439.562500  110.072685  275.0  335.00  464.5  495.75  680.0
Grass      70.0  421.142857  106.650626  180.0  318.50  430.0  497.00  630.0
Ground     32.0  437.500000  123.913081  265.0  329.50  440.0  512.25  770.0
Ice        24.0  433.458333  108.281027  250.0  305.00  467.5  526.25  580.0
Normal     98.0  401.683673  115.733038  190.0  302.50  415.0  481.50  720.0
Poison     28.0  399.142857   92.358687  245.0  323.75  401.5  490.00  535.0
Psychic    57.0  475.947368  139.026645  198.0  336.00  485.0  600.00  780.0
Rock       44.0  453.750000  108.059227  280.0  360.25  467.5  516.50  700.0
Steel      27.0  487.703704  115.420907  300.0  425.00  500.0  580.00  700.0
Water     112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:
"""
H0: water type mean <= non water type mean
H1: water type mean > non water type mean
significance 0.05
"""
no_water_sample1 = np.random.choice(pokemon[pokemon['Type 1'] != 'Water']['Total'], size=50)
water_sample1 = np.random.choice(pokemon[pokemon['Type 1'] == 'Water']['Total'],size=50)
stats.ttest_ind(no_water_sample1,water_sample1)

Ttest_indResult(statistic=-0.01097214606537521, pvalue=0.9912679751239534)

Write your conclusion below.

In [12]:
# Your conclusions here:
"""Since our p-value is greater than 0.05 this mean that we should accept H0, the mean of the water type is less than than the non-water type"""

'Since our p-value is greater than 0.05 this mean that we should accept H0, the mean of the water type is less than than the non-water type'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:
"""
H0: defense mu != attack mu
H1: defense mu = attack mu
"""
pokemon

stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#p-value is lower than our significance level, this means that the defense and the attack should not be equal

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [15]:
# Your code here:
#H0: sp atk mean != sp atk def   H1: sp. def mean = sp.atk mean
stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [16]:
# Your conclusions here:
#In this case the p-value is greater than our significance level, this mean that the special attack and deffense should be equal most of the cases

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [17]:
# Your code here:
"""
H0: difference mean != 0
H1: difference mean =  0
"""
difference = pokemon['Attack'] - pokemon['Defense']
stats.ttest_1samp(difference,0) 

#p-value: how likely is to be true the null hypotesis based on the sample that we got?

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: